:root {
  --piano-width: 90vw;
  --piano-max-width: 1200px;
  --piano-min-width: 600px;
  --white-key-height: 20vh;
  --white-key-min-height: 120px;
  --white-key-max-height: 300px;
  --black-key-height: 12vh;
  --black-key-min-height: 80px;
  --black-key-max-height: 180px;
}

.piano-container {
  width: 100%;
  height: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

.piano-key {
  padding: 0;
  margin: 0;
  display: flex !important;
  text-align: center;
}

.piano-key:hover {
  padding: 0;
  margin: 0;
  border: 2px solid yellow;
}

.white-keys {
  width: 100%;
  height: 100%;
  position: absolute;
}

.white-key {
  background: white;
  box-sizing: border-box;
  border: 2px solid white;
  flex-grow: 1;
  flex-direction: column-reverse;
}

.black-keys {
  width: 100%;
  height: 50%;
  position: absolute;
}

.black-key {
  background: black;
  box-sizing: border-box;
  border: 2px solid black;
  flex-direction: column-reverse;
}
