.rain-main {
  width: 100%;
  height: 100%;
  display: flex !important;
  position: relative;
}

.note-item {
  background: green;
  position: absolute;
  padding: 0;
  margin: 0;
  display: flex !important;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.note-white {
  background: var(--white-key-bg);
  border: 2px solid var(--white-key-color);
  box-sizing: border-box;
  color: var(--white-key-color);
}
.note-black {
  box-sizing: border-box;
  background: var(--black-key-bg);
  border: 2px solid var(--black-key-color);
  color: var(--black-key-color);
}

.ant-tabs-tabpane {
  height: 100% !important;
}

.ant-tabs-content {
  height: 100% !important;
}
