html,
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

#root {
  text-align: center;
  width: 100%;
  height: 100%;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: gray;
  --white-key-bg: #d9d9d9;
  --white-key-color: #1a1a1a;
  --white-key-border-pressed: #666666;
  --white-key-border-hover: #8c8c8c;
  --black-key-bg: #262626;
  --black-key-color: #e6e6e6;
  --black-key-border-pressed: #0d0d0d;
  --black-key-border-hover: #4d4d4d;
}

@media (prefers-color-scheme: light) {
  :root {
    background: white;
    --white-key-bg: lightgray;
    --white-key-color: #000000;
    --white-key-border-pressed: #4a4a4a;
    --white-key-border-hover: #808080;
    --black-key-bg: gray;
    --black-key-color: #ffffff;
    --black-key-border-pressed: #1a1a1a;
    --black-key-border-hover: #4a4a4a;
  }
}
